*.class
*.jar
*.war
*.ear
.idea/
*.iml
target/
test-output/
*~
*.classpath
*.project
*.settings
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
*.pyc
.vagrant
*.swp
/workspace
/build.log
/git.log
dependency-reduced-pom.xml
!akka-persistence-cassandra_2.11-0.6.jar
